<div class="signup-form">
  <form [formGroup]="signupForm">
    <h2>Create Account</h2>
    <p class="lead">It's free and hardly takes less than 60 seconds.</p>
    <div *ngIf="errorMessage!=null" class="alert alert-danger text-center">{{errorMessage}}</div>
    <div *ngIf="successMessage!=null" class="alert alert-success text-center">{{successMessage}}</div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-user"></i></span>
        <input type="text" class="form-control" name="name" placeholder="Name" formControlName="name" />
        <div *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
          <div *ngIf="form.name.errors.maxlength" class="alert alert-danger">
            Name should not exceed 70 characters.
          </div>
          <!-- <div *ngIf="form.name.errors.required">
            Name is required.
          </div> -->
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="far fa-id-badge"></i></span>
        <input type="text" class="form-control" name="userId" placeholder="User ID" formControlName="userId">
        <div *ngIf="form.userId.invalid && (form.userId.dirty || form.userId.touched)">
          <div *ngIf="form.userId.errors.userId" class="alert alert-danger">User ID should be less than 70 characters.</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
        <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
          <!-- <div *ngIf="form.password.errors.required">
            Password is required.
          </div> -->
          <div *ngIf="form.password.errors.minlength" class="alert alert-danger">
            Password should be atleast 6 characters.
          </div>
          <div *ngIf="form.password.errors.maxlength" class="alert alert-danger">
            Password should not exceed 128 characters.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-lock"></i>
          <i class="fa fa-check"></i>
        </span>
        <input type="password" class="form-control" id="cPassword" name="confirm_password" placeholder="Confirm Password"
          formControlName="repeatPassword">
        <div *ngIf="form.repeatPassword.invalid && (form.repeatPassword.dirty || form.repeatPassword.touched)">
          <!-- <div *ngIf="form.repeatPassword.errors.required">
            Confirm Password is required.
          </div> -->
          <div *ngIf="form.repeatPassword.errors.minlength" class="alert alert-danger">
            Password should be atleast 6 characters.
          </div>
          <div *ngIf="form.repeatPassword.errors.maxlength" class="alert alert-danger">
            Password should not exceed 128 characters.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" id="signup" [disabled]="!signupForm.valid" (click)="signup()" class="btn btn-primary btn-block btn-lg">Sign
        Up</button>
    </div>
    <p class="small text-center">By clicking the Sign Up button, you agree to our <br><a>Terms &amp;
        Conditions</a>, and <a>Privacy Policy</a>.</p>
  </form>
  <div class="text-center">Already have an account? <a routerLink="/login">Login here</a>.</div>