<div class="login-form">
  <form [formGroup]="loginForm">
    <h2>Login</h2>
    <div *ngIf="errorMessage!=null" class="alert alert-danger text-center" data-auto-dismiss="2000">{{errorMessage}}</div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="far fa-id-badge"></i></span>
        <input type="text" class="form-control" id="userId" name="userId" placeholder="User ID" formControlName="userId"
          required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
          formControlName="password" required="required">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!loginForm.valid" id="login" (click)="login()" class="btn btn-primary btn-block btn-lg">Login</button>
    </div>
  </form>
  <div class="text-center">Don't have an account? <a routerLink="/signup">Sigup here</a>.</div>