.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}
.login-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
    margin-top: 150px;
}
.login-form h2 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
}
.login-form .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.login-form form {		
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form .form-group {
    margin-bottom: 20px;
}
.login-form label {
    font-weight: normal;
    font-size: 13px;
}
.login-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}	
.login-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    padding-top: 8px;
}
.login-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #179b81;
}
.login-form a {
    color: #19aa8d;
    text-decoration: none;
}	
.login-form a:hover {
    text-decoration: underline;
}
.login-form .fa .fas{
    font-size: 21px;
}
