<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf = "authService.loginStatus">
  <a class="navbar-brand">Gipher</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id ="home" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="bookmarks" [routerLink]="['/bookmarks']">Bookmarks</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" id="favourites" [routerLink]="['/favs']">Favourites</a>
      </li>
    </ul>
    <button type="button" (click) = "logout()" id="logout" class="btn btn-outline-danger" aria-hidden="true">Logout</button>
  </div>
</nav>